@using Microsoft.AspNetCore.SignalR.Client;
@using Scoreboards.Data.Football;
@using Scoreboards.Features.Football.Output.Event
@if (Options != null)
{
    var containerClass = "boxed";

    if(Options.FullScreenMode)
    {
        containerClass = "full-screen-overlay";
    }
    <div class="container @containerClass">
        @{
            var word = "";
        }

        @switch (Options.ActiveEvent)
        {
            case FootballEventsEnum.GoalScored:
                word = "Goal!";
                break;
            case FootballEventsEnum.MatchStarted:
                word = "Kick-Off!";
                break;
            case FootballEventsEnum.HalfTime:
                word = "Half Time";
                break; 
            case FootballEventsEnum.MatchEnd:
                word = "Match End";
                if (HomeTeam.Score > AwayTeam.Score)
                {
                    word = "Match End - WIN!";
                }
                break;
                case FootballEventsEnum.SubstitutionHomeTeam:
                word = String.Join(" - ",Options.Data);
               
                break;
        }
        <div>
            <div>
                <div class="event-title 
                            animate__animated 
                            @Options.AnimationCssClass
                            animate__infinite
                            animate__delay-1s">
                    @word
                </div>
                <div class="event-info">
                    @Options.Message
                </div>
            </div>

        </div>
    </div>
}

@code {
    //
    [Parameter]
    public FootballTeam HomeTeam { get; set; } = new FootballTeam();

    [Parameter]
    public FootballTeam AwayTeam { get; set; } = new FootballTeam();

   

    [Parameter]
    public EventOutputOptions Options { get; set; } = new EventOutputOptions();

    protected async override Task OnInitializedAsync()
    {
        
    }
}
    <style>
       
    .full-screen-overlay {
        width:100vw;
        position: absolute;
        background: @HomeTeam.AccentColorHex;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9999;
        align-items:center;
        justify-content:center;
    }
    .event-title {
        font-size:25rem;
        text-align:center;
      
        overflow:hidden;
    }

</style>
