@page "/scoreboard/football/{token}"
@using Microsoft.AspNetCore.SignalR.Client;
@using Scoreboards.Areas.App.Pages.Output.Football.Components
@using Scoreboards.Areas.App.Pages.Output.Football.Layouts
@using Scoreboards.Data.Football;
@using Scoreboards.Models.Football;
@using System.Drawing;
@inject IJSRuntime jsRuntime;
@inject NavigationManager Navigation

<div>
    <EventOutput 
        HomeTeam="ViewModel.HomeTeam" 
        AwayTeam="ViewModel.AwayTeam"
        HubConnection="hubConnection"></EventOutput>
    @switch(ViewModel.LayoutPreset)
    {
        case 2:
            <VerticalLayoutWithClock ViewModel="ViewModel"></VerticalLayoutWithClock>
        break;
        case 1:
        default:
            <HorizontalLayoutWithLineupsAndClock ViewModel="ViewModel"></HorizontalLayoutWithLineupsAndClock>
        break;
    }
</div>

@code {

    [Parameter]
    public string Token { get; set; } = "";

    //signalr stuff//
    private HubConnection? hubConnection;
    //properties
    public string? ConnectionId { get; set; }

    public FootballScoreboardViewModel ViewModel { get; set; } = new FootballScoreboardViewModel();

    // dynamic component stuff //
    public FootballEventsEnum? ActiveEvent { get; set; }

    //life cycle events//
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/scoreboards/football"))
            .Build();

        hubConnection.On<KeyValuePair<string,FootballScoreboardViewModel>>("UpdateData", (item) =>
        {


            if(item.Key == Token) {
                ViewModel = item.Value;
            }
            InvokeAsync(StateHasChanged);

        });
       

        await hubConnection.StartAsync();
    }


    // events
}

      