table {
    width: 100%;
}

    table tr > th {
    }


tr > td:nth-child(2) {
    width: 80%;
}

tr > td:nth-child(1),
tr > td:nth-child(3),
tr > td:nth-child(4),
tr > td:nth-child(5),
tr > td:nth-child(6)
{
    width: 10%;
    text-align: center;
}
