@page "/scoreboard/football/{token}"
@using Microsoft.AspNetCore.SignalR.Client;
@using Scoreboards.Data.Football;
@using Scoreboards.Features.Football
@using Scoreboards.Features.Football.Output.Layouts
@using System.Drawing;
@inject IJSRuntime jsRuntime;
@inject NavigationManager Navigation

<div>
  
    @switch(ViewModel.LayoutPreset)
    {
        case 2:
            <LiverpoolBasedLayout ViewModel="ViewModel"></LiverpoolBasedLayout>
        break;
        case 3:
            <BayernBasedLayout ActiveEvent="ActiveEvent" ViewModel="ViewModel">

            </BayernBasedLayout>
        break;
        case 1:
        default:
            <PresetLayout1 EventData="EventData" ActiveEvent="ActiveEvent" ViewModel="ViewModel"></PresetLayout1>
        break;
    }
    <div style="border-top:0.5rem dashed blue;box-sizing:border-box;">if you see the blue dashed lines, align your screen so they aren't visible.</div>

</div>

@code {

    [Parameter]
    public string Token { get; set; } = "";

    //signalr stuff//
    private HubConnection? hubConnection;
    //properties
    public string? ConnectionId { get; set; }

    public FootballScoreboardViewModel ViewModel { get; set; } = new FootballScoreboardViewModel();

    // dynamic component stuff //
    public FootballEventsEnum? ActiveEvent { get; set; }
    public List<string> EventData { get; set; } = new List<string>();

    //life cycle events//
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/scoreboards/football"))
            .Build();

        hubConnection.On<KeyValuePair<string,FootballScoreboardViewModel>>("UpdateData", (item) =>
        {


            if(item.Key == Token) {
                ViewModel = item.Value;
            }
            InvokeAsync(StateHasChanged);

        });
        hubConnection.On<KeyValuePair<string,FootballEventsEnum>,List<string>>("EmittedEvent", async (item,data) =>
         {

             var t = new System.Threading.Thread(async ()=>await OnEvent(item,data));
             t.Start();
         });


        await hubConnection.StartAsync();
    }


    // events

    private async Task OnEvent(KeyValuePair<string,FootballEventsEnum> item,List<string> data) {
        if(item.Key == Token) {
            ActiveEvent = item.Value;
            EventData = data;
            await Task.Delay(TimeSpan.FromSeconds(15));
            ActiveEvent = null;
            EventData = new List<string>();
        }
    }
    }

      