@using Scoreboards.Areas.App.Pages.Manager.Football.Components
@using Scoreboards.Models.Football;
<div class="modal modal-xl fade" id="layoutOptions" tabindex="-1" aria-labelledby="layoutOptionsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="layoutOptionsLabel">Layout options</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <LayoutOptions Options="Options"></LayoutOptions>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public FootballScoreboardLayoutOptions Options { get; set; } = new FootballScoreboardLayoutOptions();
}